* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

 {
  /*////////////////////////////////////////////////////*/
}
 {
  /*MENU
*/
}

.navitem {
  border: 1px solid #28a745;
  border-bottom: 1px solid #28a745;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  position: relative;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;
}

.hamburger {
  display: none;
  color: white;
  background: #28a745;
  margin-top: 6px;
  margin-right: 9px;
}

.icon {
  width: 30px;
  margin-bottom: 5px;
}

.logo {
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  color: white;
  font-family: Bowlby One;
  font-size: 23px;
  margin-bottom: 5px;
}

.mobile-menu {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 50%;
  right: 0px;
  background: #28a745;
  z-index: 20;
  transition-property: transform;
  transition-duration: 2s;
  transform: translateX(100%);
}

.move {
  transform: translateX(0%);
}

.nav-item {
  border: 0px solid #28a745;
  border-bottom: 1px solid #28a745;
  margin: 0px;
  padding: 0px;
}

.nav {
  flex-wrap: nowrap;
}
/* /////////////////////////////////////////////////////////
//HOME */

.search-container {
  width: 100%;
}

.search-bar {
  width: 100%;
  margin: auto;
}

.product-search-container {
  display: flex;
  justify-content: flex-start;
}

.product-search-container-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.search-card-container {
  max-width: 350px;
  min-height: 710px;
  margin: 10px;
}

.search-product-img-container {
  margin: auto;
  overflow: hidden;
  height: 300px;
  width: 210px;
  overflow: hidden;
}

 {
  /*//////////////////////////////////////////////////////////////////////////////
// SHOP
*/
}

.row {
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 5px;
  position: relative;
}

.show-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  display: none;
}

.filters-icon {
  width: 30px;
  margin-bottom: 10px;
  transition-property: transform;
  transition-duration: 0.5s;
}

.filters-icon-rotate {
  transform: rotate(180deg);
}

.filters {
  display: flex;
  flex-direction: column;
}

.hide-filters {
  position: absolute;
  opacity: 0;
}

.filter-div {
  margin: 10px;
}

.list-unstyled {
  margin-left: 45px;
}

.search-products-div {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

/* ///////////////////////////////////////////////////////////////
CARD  */

.card-container {
  display: flex;
}

.card {
  margin-bottom: 20px;
}

.margin {
  margin-bottom: 20px;
}

/* /////////////////////////////////////////////////////////////////////////
PRODUCT */

.product-continer {
  display: flex;
  justify-content: center;
}

.show-product {
  width: 50%;
}

.related-product {
  width: 30%;
  margin: 30px;
}

/* //////////////////////////////////////////////////////////////////////////////////
//DASHBOARD */
.dashboard-container {
  display: flex;
}
/* ///////////////////////////////////////////////////////////////////////////////////// */

/* MOBILE */

@media (max-width: 1200px) {
  .search-products-div {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 900px) {
  .filters {
    flex-direction: column;
  }

  .show-product {
    width: 88%;
  }

  .related-product {
    width: 88%;
  }

  .product-continer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .show-filters {
    display: flex;
  }

  .filters {
    flex-direction: row;
  }
  .search-products-div {
    width: 100%;
  }

  .dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-links {
    width: 71%;
  }
}

@media (max-width: 700px) {
  .logo {
  }
  .desktop-only {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 600px) {
  .card-container {
    flex-direction: column;
  }

  .col-6 {
    max-width: 100%;
  }

  .card {
    margin-bottom: 20px;
  }

  .width {
    max-width: 95%;
  }
  .user-links {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .filters {
    flex-direction: column;
  }
}
